::-webkit-scrollbar-track {
      background-color: #5EB319;
} /* the new scrollbar will have a flat appearance with the set background color */
 
::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2); 
} /* this will style the thumb, ignoring the track */
 
::-webkit-scrollbar-button {
      background-color: #5EB319;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
 
::-webkit-scrollbar-corner {
      background-color: black;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */
::-webkit-scrollbar {
      width: 8px;
} /* this targets the default scrollbar (compulsory) */
body{
    overflow-x: hidden;
    width: 790px;
    height: 900px;
}
#headerapp {
    text-align: center;
    background-color: #5EB319;
    padding: 10px;
    font-size: 24px;
    font-weight: 900;
    color: #FFF;
   
}
#footerapp{
    width: 100%;
    background-color: #5EB319;
    padding: 10px;
    position: fixed;
    position: button;

}
nav.navbar {
    background-color: #5EB319;
    color: aliceblue;
}
nav.navbar a {
    background-color: #5EB319;
    color: aliceblue;
}
.navbar-custom {
    color: #FFFFFF;
    background-color: #CC3333;
}
nav.navbar ul.nav li {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: aliceblue;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #000;  /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: #000; /*BACKGROUND color for active*/
background-color: #FFF;
}

  .navbar-default {
    background-color: #FFF;
    border-color: #FFF;
}
  .navbar-default a {
    background-color: #FFF;
    border-color: #FFF;
}

  .dropdown-menu > li > a:hover,
   .dropdown-menu > li > a:focus {
    color: #262626;
   text-decoration: none;
  background-color: #66CCFF;  /*change color of links in drop down here*/
   }

 .nav > li > a:hover,
 .nav > li > a:focus {
    text-decoration: none;
    background-color: silver; /*Change rollover cell color here*/
  }


  .navbar-default .navbar-nav > li > a {
   color: white; /*Change active text color here*/
    }
.color{
    height: 60px;
    text-align: center;
}
   
#app {
    padding-left: 20px;
    padding-right: 20px;
}
